.picture-intro{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(25, 56, 97);
    padding: 5vh 0vh 5vh 0vh;
 }
 
 .my-picture{
    width: 250px;
    border-radius: 50%;
 }
 
 .my-picture:hover{
    transform: scale(1.4);
    cursor: pointer;
    margin-left: -20px;
 }
 
 .intro h1 {
    font-size: 60px;
    color: white;
    text-shadow: 6px 3px black;
    margin-top: 5vh;
 }
 
 .intro h2{
    font-size: 30px;
    color: white;
    text-shadow: 6px 3px black;
    float: right;
 }
 