  .contact{
    background-color: rgb(27, 63, 110);
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
 }
 
 .contact-card a:hover{
    color: orange;
 }
 
 .icons-card{
    border: 2px solid rgb(27, 63, 110);
 }
 
 .icons-card a{
    font-size: 40px;
    margin-left: 80px;
    color: white;
 }
 
 .icons{
    margin-top: 20px;
 }
 
 .icons a:hover{
    color: orange;
 }